body {
    margin: 3% auto;
    background: #F2ECE4;
    color: #594A3C;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    text-shadow: 0 1px 0 #fff;
    max-width: 90%;
    text-align: center;
    list-style-position: inside;
}

a {
    border-bottom: 1px solid #594A3C;
    color: #594A3C;
    text-decoration: none;
}

main a {
    font-weight: bolder;
}

a:hover {
    border-bottom: 0;
}

nav {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 2rem;
}

table {
    border: 1px solid #594A3C;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #594A3C;
    padding: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}