:root {
    --primary: #594a3c;
    --secondary: #f2ece4;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    margin: auto;
    background: var(--secondary);
    color: var(--primary);
    font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    text-shadow: 0 1px 0 #fff;
    max-width: 90%;
    text-align: center;
}

@media screen and (min-width: 769px) {
    body {
        max-width: 65%;
    }
}

a {
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
    text-decoration: none;
}

main a {
    font-weight: bolder;
}

a:hover {
    border-bottom: 0;
}


hr {
    border: none;
    height: 1px;
    background: var(--primary);
    width: 80%;
}

.ruler-big {
    height: 2px;
    margin: 2rem 0;
    width: 100%;
}

header {
    margin-top: 2%;
}

nav {
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
}

footer {
    margin-top: auto;
    margin-bottom: 1rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
    font-size: smaller;
}