:root {
    --primary-color: #e0e0e0;
    --secondary-color: #151515;
    --accent-color: #ff6f61;
    --shadow-color: #555;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    min-height: 100svh;
    max-width: 90%;
    text-shadow: 0 1px 0 var(--shadow-color);
}

@media screen and (min-width: 992px) {
    body {
        max-width: 72%;
    }
}

a {
    color: var(--primary-color);
    border-bottom: 1px solid var(--accent-color);
    text-decoration: none;
}

a:hover {
    border-bottom: 0;
    color: var(--accent-color);
}

nav {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-weight: lighter;
    font-size: smaller;
}

footer {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-weight: lighter;
    font-size: smaller;
    margin-top: auto;
    margin-bottom: 2rem;
}